@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.homepage {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* progressBar */

.iconsBarDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  z-index: 1;
}

.iconsBar{
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.line{
border:1px solid white;
z-index: 0;
position: absolute;
top: 50%;
width: 100%;

}
.progressBar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.headerDiv {
  width: 80%;
  margin: auto;
}

.btn {
  text-align: center;
  margin: auto;
  margin-top: 5%;
  width: 30%;
}

.p-header {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
}

.p-headerp {
  color: white;
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
}

/* step1 */

.form {
  width: 60%;
  margin: auto;
}

.formDiv {
  display: flex;
  flex-direction: column;
}

.toFrom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}

.depRet {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  margin-top: 5%;
}

/* step2 */

.icon{
  font-size: 3.5rem;
  text-align: center;
}
